<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esamefinaleandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EsameFinaleAndroid">

        <activity
            android:name=".attivita.AddProductsActivity"
            android:exported="true"
            android:parentActivityName=".attivita.MainActivity"/>
        <activity
            android:name=".attivita.UserDetailsActivity"
            android:exported="true"
            android:parentActivityName=".attivita.MainActivity"/>
        <activity
            android:name=".attivita.RegisterActivity"
            android:exported="true"
            android:parentActivityName=".attivita.LoginActivity"/>

        <activity
            android:name=".attivita.MainActivity"
            android:exported="true"
            android:parentActivityName=".attivita.LoginActivity" />

        <activity
            android:name=".attivita.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>